apiVersion: v1
kind: Service
metadata:
  name: visionhub-backend
  labels:
    app: visionhub-backend
    environment: {{ .Values.environment }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: visionhub-backend