apiVersion: apps/v1
kind: Deployment
metadata:
  name: visionhub-frontend
  labels:
    app: visionhub-frontend
    environment: {{ .Values.environment }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: visionhub-frontend
  template:
    metadata:
      labels:
        app: visionhub-frontend
        environment: {{ .Values.environment }}
    spec:
      imagePullSecrets:
      - name: thalassa-registry
      
      containers:
      - name: frontend
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        
        ports:
        - containerPort: 80
          name: http
        
        volumeMounts:
        - name: config
          mountPath: /usr/share/nginx/html/config.js
          subPath: config.js
        
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      
      volumes:
      - name: config
        configMap:
          name: visionhub-frontend-config